@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05070a;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
}
html {
  scroll-behavior: smooth;
}

